@import '../node_modules/admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '../node_modules/admin-lte/dist/css/adminlte.min.css';
@import '../node_modules/admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css';
@import '../node_modules/bootstrap/scss/bootstrap';
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
